.Container{
 max-width: 65vw;
 margin: 42px auto;
}
.center{
 text-align: center;
}
@media only screen and (max-width: 600px) {
    .Container{
        max-width: 90vw;
        margin: 40px auto;
       }
} 